body {
    font: 14px 'Lato', sans-serif;
    font-weight: 300;
}

.btn{
    background: transparent;
    color: #000;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    border-color: #aaa;
}

table tr, table th {
    text-align: center;
    transition: all 0.25s ease-in;
}

table tr:hover {
    cursor: pointer;
}

tr.course {
    border-left: 4px solid #5463c3;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

tr.course td {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

tr.course:hover {
    border-left: 15px solid #5463c3;
}

.id, .dept, .code, .dec {
    width: 5%;
}

.type, .sbc {
    width: 8%;
}

.name {
    width: 20%;
}

.prof, .location{
    width: 15%;
}

.selected-course {
    background-color: rgba(137, 241, 138, 0.5);
}

.table-hover .selected-course:hover {
    background-color: rgba(137, 241, 138, 0.9);
}

.pages {
    float: right;
}

.pages ul {
    list-style: none;
}

.pages ul li {
    display: inline;
    padding: 5px;
}

.count {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

#search {
    padding: 10px 0;
}

#search .input-group {
    max-width: 250px;
}

.schedule-row {
    display: flex;
    height: 30px;
}

.schedule-cell {
    /*flex: 1 0 auto;*/
    width: 150px;
    border: 1px solid #eee;
    position: relative;
}

.schedule-cell:first-child {
    width: 75px;
    text-align: center;
}

.schedule-item {
    width: 150px;
    position: absolute;
    background-color: #337ab7;
    color: #fff;
    z-index: 2;
    border: 1px solid #111;
    padding: 5px;
}
