body {
    font: 14px 'Source Sans Pro', sans-serif;
}

.container {
    float: left;
    width: 80%;
}

.sidebar {
    width: 20%;
    float: right;
}

#heading {
    margin-top: 30px;
    font-size:2.5em;
    font-weight: bold;
}

#classList li {
    list-style: none;
    padding: 5px;
}

#classList li .btn {
    padding: 2px;
    margin-right: 5px;
}

#classListContainer {
    position: fixed;
    right: 0;
    height: 100%;
    background-color: #000;
    color: #fff;
}

#classListTitle {
}

#classListTitle span{
    font-size: 1.3em;
    font-weight: bold;
}
.schedule-row {
    display: flex;
    height: 30px;
}

.schedule-cell {
    /*flex: 1 0 auto;*/
    width: 150px;
    border: 1px solid #eee;
    position: relative;
}

.schedule-cell:first-child {
    width: 75px;
    text-align: center;
}

.schedule-item {
    width: 150px;
    position: absolute;
    background-color: #337ab7;
    color: #fff;
    z-index: 2;
    border: 1px solid #111;
    padding: 5px;
}

.searchField {
    width: 500px;
}

.fieldInput {
    width: 80%;
}

.fieldName {
    width: 220px;
}

#generateButton {
    margin: 5px;
}

#backToMainButton {
    margin: 5px;
    margin-top: 0px;
}

.table-hover tr:hover {
    cursor: pointer;
}

#bigTable tr td:first-child{
    padding-left: 20px;
}

#bigTable tr td:last-child {
    padding-right: 20px;
  }

  td.tableProfessor {
    max-width: 150px;
}

#buildButton {
    bottom: 10px;
    left: 10px;
    position: absolute;
    color: black;
}