<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <link rel="stylesheet" href="/static/css/style.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <script src="/static/js/seacourses.js"></script>
    <meta charset="UTF-8">
    <title>LunarCourses</title>

    </head>
    <body>
        <div class="container">
            <h2 id="heading">LunarCourses Beta - Spring 2016</h2>

            <p>
                Welcome to LunarCourses for Stony Brook University! Build the perfect schedule by looking for your courses below. Click a row on the table to toggle the course.
            </p>

            <div id="search">
                <p>Todo: More search fields with options like greater than or equal to coming later.</p>

                <form id="course-search" class="form-group">
                    <div class="input-group course-search">
                        <span class="input-group-addon" id="deptCodeNum-addon">Course Code</span>
                        <input type="text" name="deptCodeNum" class="course-field form-control" placeholder="CHE131" aria-describedby="deptCodeNum-addon">
                    </div>

                    <div class="input-group course-search">
                        <span class="input-group-addon" id="dec-addon">DEC</span>
                        <input type="text" name="dec" class="course-field form-control" placeholder="G" aria-describedby="dec-addon">
                    </div>
                </form>
            </div>

            <div id="course-toolbar">
                <button id="display-schedule" class="btn btn-danger" data-toggle="modal" data-target="#scheduleModal">Display Schedule</button>
                <span id="credits"><span id="credit-count">0</span> credits selected</span>
            </div>

            <div class="pages" id="table-top">
                <ul class="nav-pages">
                    <li class="prev-page"><button class="btn btn-primary">Previous</button></li>
                    <li class="count"></li>
                    <li class="next-page"><button class="btn btn-primary">Next</button></li>
                </ul>
            </div>

            <table id="course-table" class="table table-hover">
                <thead>
                    <tr class="table-header">
                        <th>ID</th>
                        <th>Dept</th>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Professor</th>
                        <th>DEC</th>
                        <th>SBCs</th>
                        <th>Type</th>
                        <th>Days</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Location</th>
                    </tr>
                </thead>
            </table>

            <div class="pages" id="table-bottom">
                <ul class="nav-pages">
                    <li class="prev-page"><button class="btn btn-primary">Previous</button></li>
                    <li class="count"></li>
                    <li class="next-page"><button class="btn btn-primary">Next</button></li>
                </ul>
            </div>

            <footer id="notice">
                <p>LunarCourses is not supported by <a href="http://www.stonybrook.edu/" target="_blank">Stony Brook University</a> or <a href="https://it.stonybrook.edu/" target="_blank">DoIT</a> in any way. All course data is retrieved from publicly available sources and are subject to change at any time. We are not responsible for any inaccuracies. Check <a href="https://it.stonybrook.edu/services/solar" target="_blank">SOLAR</a> for the most up to date information.</p>
                <p>Data last updated on Feb. 5, 2016.</p>

                <p>Version 0.3</p>
            </footer>

            <!-- Weekly View -->
            <div class="modal fade" id="scheduleModal" tabindex="-1" role="dialog" aria-labelledby="Selected Courses - Weekly View">
                <div class="modal-dialog" role="document" style="width: 1024px">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Your Schedule</h4>
                            <p><strong>This does not work in Safari and probably other browsers at the moment. It will be fixed at a later time. Please use Google Chrome for now. Thanks.</strong></p>
                        </div>
                        <div class="modal-body">

                            <div id="schedule">
                                <div class="schedule-row days-header">
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell">Monday</div>
                                    <div class="schedule-cell">Tuesday</div>
                                    <div class="schedule-cell">Wednesday</div>
                                    <div class="schedule-cell">Thursday</div>
                                    <div class="schedule-cell">Friday</div>
                                    <div class="schedule-cell">Saturday</div>
                                </div>
                                <div class="schedule-row">
                                    <div class="schedule-cell">8:00 AM</div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                </div>
                                <div class="schedule-row">
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                </div>
                                <div class="schedule-row test">
                                    <div class="schedule-cell">9:00 AM</div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                </div>
                                <div class="schedule-row">
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                </div>
                                <div class="schedule-row">
                                    <div class="schedule-cell">10:00 AM</div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                </div>
                                <div class="schedule-row">
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                </div>
                                <div class="schedule-row">
                                    <div class="schedule-cell">11:00 AM</div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                </div>
                                <div class="schedule-row">
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                </div>
                                <div class="schedule-row">
                                    <div class="schedule-cell">12:00 PM</div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                </div>
                                <div class="schedule-row">
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                </div>
                                <div class="schedule-row">
                                    <div class="schedule-cell">1:00 PM</div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                </div>
                                <div class="schedule-row">
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                </div>
                                <div class="schedule-row">
                                    <div class="schedule-cell">2:00 PM</div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                </div>
                                <div class="schedule-row">
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                </div>
                                <div class="schedule-row">
                                    <div class="schedule-cell">3:00 PM</div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                </div>
                                <div class="schedule-row">
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                </div>
                                <div class="schedule-row">
                                    <div class="schedule-cell">4:00 PM</div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                </div>
                                <div class="schedule-row">
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                </div>
                                <div class="schedule-row">
                                    <div class="schedule-cell">5:00 PM</div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                </div>
                                <div class="schedule-row">
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                </div>
                                <div class="schedule-row">
                                    <div class="schedule-cell">6:00 PM</div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                </div>
                                <div class="schedule-row">
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                </div>
                                <div class="schedule-row">
                                    <div class="schedule-cell">7:00 PM</div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                </div>
                                <div class="schedule-row">
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                </div>
                                <div class="schedule-row">
                                    <div class="schedule-cell">8:00 PM</div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                </div>
                                <div class="schedule-row">
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                </div>
                                <div class="schedule-row">
                                    <div class="schedule-cell">9:00 PM</div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                </div>
                                <div class="schedule-row">
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                    <div class="schedule-cell"></div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
             </div> <!-- /schedule modal -->

            <!-- Notifications Area -->
            <div id="notifications"></div>
            <div id="default-notification" class="post-message alert" role="alert"></div>

        </div> <!-- /page container -->

        <script type="text/javascript">
            var notifications = new NotificationManager($('#notifications'));
        </script>
    </body>
</html>
