<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <link rel="stylesheet" href="/static/css/style.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <script src="/static/js/seacourses.js"></script>
    <meta charset="UTF-8">
    <title>SeaCourses</title>
    </head>
    <body>
        <div class="container">
            <h2 id="heading">SeaCourses</h2>

            <p>
                Welcome to SeaCourses! Build the perfect schedule by looking for your courses below. Click a row on the table to toggle the course.
            </p>

            <div id="search">
                <p>Todo: More search fields with options like greater than or equal to coming later.</p>

                <form id="course-search" class="form-group">
                    <div class="input-group course-search">
                        <span class="input-group-addon" id="deptCodeNum-addon">Course Code</span>
                        <input type="text" name="deptCodeNum" class="form-control" placeholder="CHE131" aria-describedby="deptCodeNum-addon">
                    </div>

                    <div class="input-group course-search">
                        <span class="input-group-addon" id="dec-addon">DEC</span>
                        <input type="text" name="dec" class="form-control" placeholder="G" aria-describedby="dec-addon">
                    </div>
                </form>
            </div>

            <div class="pages" id="table-top">
                <ul class="nav-pages">
                    <li class="prev-page"><button class="btn">Previous</button></li>
                    <li class="count"></li>
                    <li class="next-page"><button class="btn">Next</button></li>
                </ul>
            </div>

            <table id="course-table" class="table table-hover">
                <thead>
                    <tr class="table-header">
                        <th>ID</th>
                        <th>Dept</th>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Professor</th>
                        <th>DEC</th>
                        <th>SBCs</th>
                        <th>Type</th>
                        <th>Days</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Location</th>
                    </tr>
                </thead>
            </table>

            <div class="pages" id="table-bottom">
                <ul class="nav-pages">
                    <li class="prev-page"><button class="btn">Previous</button></li>
                    <li class="count"></li>
                    <li class="next-page"><button class="btn">Next</button></li>
                </ul>
            </div>

        </div>
    </body>
</html>
