<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Schedule Builder</title>

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/style.css"/>


    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="/static/js/seacourses.js"></script>

</head>

<body>

    <div id="schedule">
        <div class="schedule-row">
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
        </div>
        <div class="schedule-row">
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
        </div>
        <div class="schedule-row">
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
        </div>
        <div class="schedule-row">
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
        </div>
        <div class="schedule-row">
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
        </div>
        <div class="schedule-row">
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
        </div>
        <div class="schedule-row">
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
        </div>
        <div class="schedule-row">
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
        </div>
        <div class="schedule-row">
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
        </div>
        <div class="schedule-row">
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
        </div>
        <div class="schedule-row">
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
        </div>
        <div class="schedule-row">
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
        </div>
        <div class="schedule-row">
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
        </div>
        <div class="schedule-row">
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
        </div>
        <div class="schedule-row">
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
        </div>
        <div class="schedule-row">
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
        </div>
        <div class="schedule-row">
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
        </div>
        <div class="schedule-row">
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
        </div>
        <div class="schedule-row">
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
        </div>
        <div class="schedule-row">
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
        </div>
        <div class="schedule-row">
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
        </div>
        <div class="schedule-row">
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
        </div>
        <div class="schedule-row">
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
        </div>
        <div class="schedule-row">
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
        </div>
        <div class="schedule-row">
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
        </div>
        <div class="schedule-row">
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
        </div>
        <div class="schedule-row">
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
        </div>
        <div class="schedule-row">
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
            <div class="schedule-cell"></div>
        </div>
    </div>

</body>
</html>